{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <h1>{{ album.name }}</h1>
            <div class="row">
                {% for image in pagination %}
                    <div class="col-sm-2">
                        <img class="img-thumbnail" src="{{ asset('images/' ~ image.filename) }}"
                             alt="{{ image.originalFilename }}">
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
