{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <h1>Albums</h1>
            <ul class="albums-list">
                {% for album in albums %}
                    <li>
                        <a href="{{ url('gallery_album', {'albumId': album.id}) }}">{{ album.name }}</a>
                        <div class="row">
                            {% for image in album.images %}
                                <div class="col-sm-1">
                                    <img class="img-thumbnail" src="{{ asset('images/' ~ image.filename) }}"
                                         alt="{{ image.originalFilename }}">
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
